body{width: 100vw;height: 100vh; overflow: hidden;margin: 0px; background-color: black;display:flex;justify-content:center ;align-items:center ;}
.box{
    width: 500px;
    height: 600px;

    border-radius: 20%;
    margin: 0 auto;
    /* margin-top: 100px; */
    background-color: rgb(20, 20, 20);
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding:50px 20px 0px 20px;
}
.header{
    background-color: rgb(37, 40, 40) ;
    color: white;
    justify-content: center;
    display: flex;
    padding: 30px 10px;
    /* padding-top: 0%; */
    width: 80%;
    margin: 20px auto;
    border-radius: 10vw;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 70%;
    background-color: rgb(37, 40, 40) ;
    height: 350px;
    border-radius: 10%;
    padding:20px 40px ;
}   
.form-head{
    display: flex;
    justify-content: center;
    
    color: white;
    font-size: 20px;
    margin: 15px 0px;
    background-color: rgb(52, 56, 59);
    padding: 5px 5px;
    
}
.name{
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(48, 50, 51, 0.39);
    width: 60%;
    margin: 4px auto;
    padding: 4px;
    border-radius: 20px;
}
input{
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-size: 15px;
    background-color: rgba(152, 167, 180, 0);
}